.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-text10 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link {
  text-decoration: none;
}
 
.navbar-burger-menu {
  display: none;
}
 
.navbar-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-text13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text16 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text17 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-buttons {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.navbar-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.navbar-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.about-me-fragment14 {
  display: contents;
}
 
.about-me-text14 {
  display: inline-block;
}
 
.about-me-fragment20 {
  display: contents;
}
 
.about-me-text22 {
  display: inline-block;
}
 
.about-me-fragment10 {
  display: contents;
}
 
.about-me-text10 {
  display: inline-block;
}
 
.about-me-fragment16 {
  display: contents;
}
 
.about-me-text16 {
  display: inline-block;
}
 
.about-me-fragment18 {
  display: contents;
}
 
.about-me-text20 {
  display: inline-block;
}
 
.about-me-fragment12 {
  display: contents;
}
 
.about-me-text12 {
  display: inline-block;
}
 
.about-me-fragment15 {
  display: contents;
}
 
.about-me-text15 {
  display: inline-block;
}
 
.about-me-fragment13 {
  display: contents;
}
 
.about-me-text13 {
  display: inline-block;
}
 
.about-me-fragment19 {
  display: contents;
}
 
.about-me-text21 {
  display: inline-block;
}
 
.about-me-fragment17 {
  display: contents;
}
 
.about-me-text17 {
  display: inline-block;
}
 
.about-me-text18 {
  color: var(--dl-color-scheme-orange100);
}
 
.about-me-fragment11 {
  display: contents;
}
 
.about-me-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-links1 {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-text13 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.footer-section {
  height: 302px;
  padding-top: 0px;
}
 
.footer-max-width {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.footer-text10 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.footer-link1 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
 
.footer-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.footer-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-navlink {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.footer-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-me-fragment24 {
  display: contents;
}
 
.about-me-text57 {
  display: inline-block;
}
 
.about-me-fragment25 {
  display: contents;
}
 
.about-me-text58 {
  display: inline-block;
}
 
.about-me-fragment22 {
  display: contents;
}
 
.about-me-text55 {
  display: inline-block;
}
 
.about-me-fragment26 {
  display: contents;
}
 
.about-me-text59 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.about-me-fragment21 {
  display: contents;
}
 
.about-me-text54 {
  display: inline-block;
}
 
.about-me-fragment23 {
  display: contents;
}
 
.about-me-text56 {
  display: inline-block;
}
 
.footerroot-class-name {
  background-color: var(--dl-color-scheme-yellow20);
}
 
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column;
  }
  .footer-footer {
    flex-direction: column;
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .footer-container2 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer-banner {
    padding: var(--dl-layout-space-twounits);
  }
  .footer-footer {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer-banner {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .footer-footer {
    padding: var(--dl-layout-space-unit);
  }
  .footer-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-container3 {
    width: auto;
  }
}

.about-me-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-me-fragment10 {
  display: contents;
}
 
.about-me-text10 {
  display: inline-block;
}
 
.about-me-fragment11 {
  display: contents;
}
 
.about-me-text11 {
  display: inline-block;
}
 
.about-me-fragment12 {
  display: contents;
}
 
.about-me-text12 {
  display: inline-block;
}
 
.about-me-fragment13 {
  display: contents;
}
 
.about-me-text13 {
  display: inline-block;
}
 
.about-me-fragment14 {
  display: contents;
}
 
.about-me-text14 {
  display: inline-block;
}
 
.about-me-fragment15 {
  display: contents;
}
 
.about-me-text15 {
  display: inline-block;
}
 
.about-me-fragment16 {
  display: contents;
}
 
.about-me-text16 {
  display: inline-block;
}
 
.about-me-fragment17 {
  display: contents;
}
 
.about-me-text17 {
  display: inline-block;
}
 
.about-me-text18 {
  color: var(--dl-color-scheme-orange100);
}
 
.about-me-fragment18 {
  display: contents;
}
 
.about-me-text20 {
  display: inline-block;
}
 
.about-me-fragment19 {
  display: contents;
}
 
.about-me-text21 {
  display: inline-block;
}
 
.about-me-fragment20 {
  display: contents;
}
 
.about-me-text22 {
  display: inline-block;
}
 
.about-me-hero {
  align-items: center;
  justify-content: center;
}
 
.about-me-max-width1 {
  height: 735px;
  align-items: center;
  padding-top: 42px;
}
 
.about-me-content {
  flex: 0 0 auto;
  width: 45%;
  height: 652px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.about-me-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.about-me-description {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.about-me-text32 {
  font-weight: 700;
}
 
.about-me-text36 {
  font-weight: 700;
}
 
.about-me-text41 {
  font-weight: 700;
}
 
.about-me-image1 {
  position: relative;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.about-me-hero-image {
  flex: 1;
  height: 647px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.about-me-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
 
.about-me-image2 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
 
.about-me-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.about-me-max-width2 {
  height: 408px;
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
 
.about-me-text44 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
  padding-left: 0px;
  padding-right: 0px;
}
 
.about-me-text45 {
  font-size: 18px;
}
 
.about-me-text46 {
  font-size: 18px;
}
 
.about-me-text47 {
  font-size: 18px;
}
 
.about-me-text48 {
  font-size: 18px;
  font-weight: 700;
}
 
.about-me-text49 {
  font-size: 18px;
}
 
.about-me-text50 {
  font-size: 18px;
}
 
.about-me-text51 {
  font-size: 18px;
}
 
.about-me-text52 {
  font-size: 18px;
}
 
.about-me-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  justify-content: center;
}
 
.about-me-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.about-me-link1 {
  text-decoration: none;
}
 
.about-me-fragment21 {
  display: contents;
}
 
.about-me-text54 {
  display: inline-block;
}
 
.about-me-fragment22 {
  display: contents;
}
 
.about-me-text55 {
  display: inline-block;
}
 
.about-me-fragment23 {
  display: contents;
}
 
.about-me-text56 {
  display: inline-block;
}
 
.about-me-fragment24 {
  display: contents;
}
 
.about-me-text57 {
  display: inline-block;
}
 
.about-me-fragment25 {
  display: contents;
}
 
.about-me-text58 {
  display: inline-block;
}
 
.about-me-fragment26 {
  display: contents;
}
 
.about-me-text59 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.about-me-link2 {
  display: contents;
}
 
.about-me-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-me-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.about-me-text63 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .about-me-content {
    width: 50%;
    margin-right: var(--dl-layout-space-unit);
  }
  .about-me-image1 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .about-me-hero-image {
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .about-me-max-width1 {
    flex-direction: column-reverse;
  }
  .about-me-content {
    width: 100%;
    margin-right: 0px;
  }
  .about-me-hero-image {
    margin-right: 0px;
  }
  .about-me-max-width2 {
    flex-direction: column-reverse;
  }
}
 
@media(max-width: 479px) {
  .about-me-hero {
    height: auto;
  }
  .about-me-max-width1 {
    height: auto;
  }
  .about-me-max-width2 {
    height: auto;
  }
  .about-me-container3 {
    flex: initial;
  }
}
