.navbar-wrapper {
  display: contents;
}
 
.navbar-thq-navbar-elm {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-thq-logo-elm1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-thq-links-elm1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-thq-text-elm1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link1 {
  text-decoration: none;
}
 
.navbar-thq-burger-menu-elm {
  display: none;
}
 
.navbar-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-thq-logo-elm2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-links-elm2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-text-elm2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-navlink3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-thq-buttons-elm {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-link2 {
  text-decoration: none;
}
 
.about-me-fragment15 {
  display: contents;
}
 
.about-me-text15 {
  display: inline-block;
}
 
.about-me-fragment10 {
  display: contents;
}
 
.about-me-text10 {
  display: inline-block;
}
 
.about-me-fragment14 {
  display: contents;
}
 
.about-me-text14 {
  display: inline-block;
}
 
.about-me-fragment12 {
  display: contents;
}
 
.about-me-text12 {
  display: inline-block;
}
 
.about-me-fragment13 {
  display: contents;
}
 
.about-me-text13 {
  display: inline-block;
}
 
.about-me-fragment11 {
  display: contents;
}
 
.about-me-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-thq-desktop-menu-elm {
    display: none;
  }
  .navbar-thq-links-elm1 {
    display: none;
  }
  .navbar-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-thq-text-elm2 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-thq-mobile-menu-elm {
    padding: 16px;
  }
  .navbar-thq-logo-elm2 {
    width: 136px;
    height: 40px;
  }
  .navbar-image2 {
    width: 100%;
    height: 100%;
  }
  .about-me-text15 {
    font-family: Titillium Web;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.footer-thq-section-elm {
  height: 302px;
  padding-top: 0px;
}
 
.footer-thq-max-width-elm {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-thq-banner-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.footer-text10 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-thq-btns-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.footer-link1 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
 
.footer-thq-footer-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.footer-thq-links-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-thq-container-elm1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-navlink {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.footer-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.about-me-fragment19 {
  display: contents;
}
 
.about-me-text50 {
  display: inline-block;
}
 
.about-me-fragment20 {
  display: contents;
}
 
.about-me-text51 {
  display: inline-block;
}
 
.about-me-fragment17 {
  display: contents;
}
 
.about-me-text48 {
  display: inline-block;
}
 
.about-me-fragment21 {
  display: contents;
}
 
.about-me-text52 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.about-me-fragment16 {
  display: contents;
}
 
.about-me-text47 {
  display: inline-block;
}
 
.about-me-fragment18 {
  display: contents;
}
 
.about-me-text49 {
  display: inline-block;
}
 
.footerroot-class-name {
  background-color: var(--dl-color-scheme-yellow20);
}
 
@media(max-width: 991px) {
  .footer-thq-max-width-elm {
    flex-direction: column;
  }
  .footer-thq-footer-elm {
    flex-direction: column;
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .footer-thq-container-elm1 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer-thq-banner-elm {
    padding: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer-thq-banner-elm {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding: var(--dl-layout-space-unit);
  }
  .footer-thq-links-container-elm {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-thq-container-elm2 {
    width: auto;
  }
}

.about-me-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.about-me-fragment10 {
  display: contents;
}
 
.about-me-text10 {
  display: inline-block;
}
 
.about-me-fragment11 {
  display: contents;
}
 
.about-me-text11 {
  display: inline-block;
}
 
.about-me-fragment12 {
  display: contents;
}
 
.about-me-text12 {
  display: inline-block;
}
 
.about-me-fragment13 {
  display: contents;
}
 
.about-me-text13 {
  display: inline-block;
}
 
.about-me-fragment14 {
  display: contents;
}
 
.about-me-text14 {
  display: inline-block;
}
 
.about-me-fragment15 {
  display: contents;
}
 
.about-me-text15 {
  display: inline-block;
}
 
.about-me-thq-hero-elm {
  align-items: center;
  justify-content: center;
}
 
.about-me-thq-max-width-elm1 {
  height: 735px;
  align-items: center;
  padding-top: 42px;
}
 
.about-me-thq-content-elm {
  flex: 0 0 auto;
  width: 45%;
  height: 652px;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.about-me-thq-title-elm {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.about-me-thq-description-elm {
  color: var(--dl-color-scheme-white);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.about-me-text25 {
  font-weight: 700;
}
 
.about-me-text29 {
  font-weight: 700;
}
 
.about-me-text34 {
  font-weight: 700;
}
 
.about-me-thq-image-elm {
  position: relative;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.about-me-thq-hero-image-elm {
  flex: 1;
  height: 647px;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.about-me-thq-graphic-top-elm {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
 
.about-me-image {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
 
.about-me-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.about-me-thq-max-width-elm2 {
  height: 408px;
  align-items: center;
  padding-top: 0px;
  justify-content: center;
}
 
.about-me-text37 {
  color: var(--dl-color-scheme-white);
  line-height: 1.5;
  padding-left: 0px;
  padding-right: 0px;
}
 
.about-me-text41 {
  font-weight: 700;
}
 
.about-me-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-twounits);
  justify-content: center;
}
 
.about-me-container4 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.about-me-link1 {
  text-decoration: none;
}
 
.about-me-fragment16 {
  display: contents;
}
 
.about-me-text47 {
  display: inline-block;
}
 
.about-me-fragment17 {
  display: contents;
}
 
.about-me-text48 {
  display: inline-block;
}
 
.about-me-fragment18 {
  display: contents;
}
 
.about-me-text49 {
  display: inline-block;
}
 
.about-me-fragment19 {
  display: contents;
}
 
.about-me-text50 {
  display: inline-block;
}
 
.about-me-fragment20 {
  display: contents;
}
 
.about-me-text51 {
  display: inline-block;
}
 
.about-me-fragment21 {
  display: contents;
}
 
.about-me-text52 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.about-me-link2 {
  display: contents;
}
 
.about-me-container5 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.about-me-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.about-me-text56 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .about-me-thq-content-elm {
    width: 50%;
    margin-right: var(--dl-layout-space-unit);
  }
  .about-me-thq-image-elm {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .about-me-thq-hero-image-elm {
    margin-bottom: 0px;
  }
}
 
@media(max-width: 767px) {
  .about-me-thq-max-width-elm1 {
    flex-direction: column-reverse;
  }
  .about-me-thq-content-elm {
    width: 100%;
    margin-right: 0px;
  }
  .about-me-thq-hero-image-elm {
    margin-right: 0px;
  }
  .about-me-thq-max-width-elm2 {
    flex-direction: column-reverse;
  }
}
 
@media(max-width: 479px) {
  .about-me-text15 {
    font-family: Titillium Web;
  }
  .about-me-thq-hero-elm {
    height: auto;
  }
  .about-me-thq-max-width-elm1 {
    height: auto;
  }
  .about-me-thq-content-elm {
    height: auto;
  }
  .about-me-thq-max-width-elm2 {
    height: auto;
  }
  .about-me-text37 {
    font-size: 18px;
  }
  .about-me-container3 {
    flex: initial;
  }
}
