.navbar-wrapper {
  display: contents;
}
 
.navbar-navbar {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-text10 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link1 {
  text-decoration: none;
}
 
.navbar-burger-menu {
  display: none;
}
 
.navbar-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-text12 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-navlink3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-buttons {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-link2 {
  text-decoration: none;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-links1 {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-text12 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
  .navbar-logo2 {
    width: 136px;
    height: 40px;
  }
  .navbar-image2 {
    width: 100%;
    height: 100%;
  }
  .home-text15 {
    font-family: Titillium Web;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.footer-section {
  height: 302px;
  padding-top: 0px;
}
 
.footer-max-width {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.footer-text10 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.footer-link1 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
 
.footer-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.footer-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-container2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-navlink {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.footer-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text39 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.footerroot-class-name {
  background-color: var(--dl-color-scheme-yellow20);
}
 
@media(max-width: 991px) {
  .footer-max-width {
    flex-direction: column;
  }
  .footer-footer {
    flex-direction: column;
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .footer-container2 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer-banner {
    padding: var(--dl-layout-space-twounits);
  }
  .footer-footer {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .footer-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer-banner {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .footer-footer {
    padding: var(--dl-layout-space-unit);
  }
  .footer-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-container2 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-container3 {
    width: auto;
  }
}

.home-container4 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-max-width1 {
  align-items: center;
}
 
.home-content1 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-title {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text17 {
  color: var(--dl-color-scheme-lightgreen);
}
 
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-container5 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-link1 {
  text-decoration: none;
}
 
.home-image1 {
  position: relative;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.home-hero-image1 {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
 
.home-image2 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
 
.home-section1 {
  height: 671px;
  padding-top: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.home-max-width2 {
  height: 100%;
  align-items: stretch;
}
 
.home-hero-image2 {
  width: 717px;
  height: auto;
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
 
.home-content2 {
  width: var(--dl-layout-size-maxwidth);
  height: auto;
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-text19 {
  font-size: 42px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text21 {
  color: var(--dl-color-scheme-green100);
}
 
.home-container6 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-navlink {
  font-family: "Titillium Web";
  text-decoration: none;
}
 
.home-section2 {
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-green100);
}
 
.home-max-width3 {
  max-width: auto;
  align-items: stretch;
  padding-right: var(--dl-layout-space-oneandhalfunits);
}
 
.home-content3 {
  width: auto;
  height: auto;
}
 
.home-text22 {
  font-size: 32px;
}
 
.home-title1 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
 
.home-title2 {
  font-size: 32px;
}
 
.home-title3 {
  font-size: 32px;
}
 
.home-container8 {
  display: none;
}
 
.home-container9 {
  display: contents;
}
 
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-text23 {
  color: var(--dl-color-scheme-lightgreen);
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0px;
}
 
.home-image3 {
  width: 416px;
  height: 425px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  border-color: var(--dl-color-scheme-green100);
  border-width: 3px;
  margin-right: 0px;
}
 
.home-section3 {
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-max-width4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text24 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text25 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-text27 {
  color: var(--dl-color-theme-secondary1);
  background-color: var(--dl-color-scheme-green100);
}
 
.home-cards-container {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-card1 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%201%201-min-500w.png");
}
 
.home-info1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text28 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text29 {
  line-height: 1.5;
}
 
.home-card2 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%202-500w.jpg");
}
 
.home-info2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text30 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text31 {
  line-height: 1.5;
}
 
.home-card3 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%203%201-min-500w.png");
}
 
.home-info3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text32 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text33 {
  line-height: 1.5;
}
 
.home-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-separator {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-link2 {
  width: 350px;
  height: 97px;
  display: none;
  font-size: 36px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  justify-content: center;
  text-decoration: none;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text39 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-link3 {
  display: contents;
}
 
.home-container12 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text43 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-content1 {
    width: 50%;
    margin-right: var(--dl-layout-space-unit);
  }
  .home-image1 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-hero-image1 {
    margin-bottom: 0px;
  }
  .home-max-width2 {
    flex-direction: column;
  }
  .home-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-max-width4 {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-max-width1 {
    flex-direction: column-reverse;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-hero-image1 {
    margin-right: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-cards-container {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-card1 {
    width: 100%;
  }
  .home-card2 {
    width: 100%;
  }
  .home-card3 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-text15 {
    font-family: Titillium Web;
  }
  .home-section1 {
    height: 791px;
    padding-top: 51px;
    padding-bottom: var(--dl-layout-space-sixunits);
  }
  .home-image3 {
    width: auto;
    height: auto;
  }
}
