.card-wrapper {
  display: contents;
}
 
.card-card {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/rectangle%2035-1500w.png");
}
 
.card-info {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.card-text1 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.card-text2 {
  line-height: 1.5;
}
 

 
.cardroot-class-name1 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B2%5D-200h.png");
}
 
.cardroot-class-name2 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B1%5D-200h.png");
}
 
@media(max-width: 767px) {
  .card-card {
    width: 100%;
  }
}

.card-wrapper-8sqt {
  display: contents;
}
 
.card-card1 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/rectangle%2035-1500w.png");
}
 
.card-info1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.card-text3 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.card-text4 {
  line-height: 1.5;
}
 

 
.cardroot-class-name1 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B2%5D-200h.png");
}
 
.cardroot-class-name2 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B1%5D-200h.png");
}
 
@media(max-width: 767px) {
  .card-card1 {
    width: 100%;
  }
}

.card-wrapper-9p1i {
  display: contents;
}
 
.card-card2 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/rectangle%2035-1500w.png");
}
 
.card-info2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.card-text5 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.card-text6 {
  line-height: 1.5;
}
 

 
.cardroot-class-name1 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B2%5D-200h.png");
}
 
.cardroot-class-name2 {
  background-size: cover;
  background-image: url("public/rectangle%2035%20%5B1%5D-200h.png");
}
 
@media(max-width: 767px) {
  .card-card2 {
    width: 100%;
  }
}

.gallery1-wrapper {
  display: contents;
}
 
.gallery1-gallery3 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery1-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-text1 {
  text-align: center;
}
 
.gallery1-text2 {
  text-align: center;
}
 
.gallery1-button {
  width: 306px;
  height: 83px;
  font-family: "Urbanist";
  background-color: var(--dl-color-theme-primary2);
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
  font-family: "Urbanist";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
  font-family: "Urbanist";
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
  font-size: 24px;
}
 
.gallery1root-class-name {
  background-color: var(--dl-color-scheme-orange80);
}

.home-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar {
  align-items: center;
  flex-direction: column;
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.home-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text11 {
  color: var(--dl-color-scheme-orange100);
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.home-text13 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-text14 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-text15 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image1 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.home-text17 {
  color: var(--dl-color-scheme-orange100);
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text19 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text20 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text21 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text22 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text23 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-buttons {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.home-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-max-width2 {
  align-items: center;
}
 
.home-content1 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-title1 {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text25 {
  color: var(--dl-color-scheme-lightgreen);
}
 
.home-description {
  color: var(--dl-color-scheme-white);
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-image2 {
  position: relative;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.home-hero-image1 {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-graphic-top {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
 
.home-image3 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
 
.home-section1 {
  height: 728px;
  padding-top: 1px;
  padding-bottom: 136px;
}
 
.home-max-width3 {
  align-items: stretch;
}
 
.home-image4 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-hero-image2 {
  width: 591px;
  height: 766px;
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
 
.home-content2 {
  width: 50%;
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-text27 {
  font-size: 42px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-section2 {
  background-color: var(--dl-color-scheme-green100);
}
 
.home-max-width4 {
  align-items: stretch;
}
 
.home-content3 {
  width: 465px;
  display: flex;
  margin-top: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-text28 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-step1 {
  display: flex;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: row;
}
 
.home-container13 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title2 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-step2 {
  display: flex;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: row;
}
 
.home-container14 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title3 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-step3 {
  display: flex;
  flex-direction: row;
}
 
.home-container15 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-title4 {
  color: var(--dl-color-scheme-white);
  font-size: 24px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-hero-image3 {
  width: 599px;
  height: 598px;
  object-fit: cover;
  border-radius: 48px;
}
 
.home-section3 {
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-max-width5 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text32 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text33 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-cards-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container16 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-separator {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-button6 {
  width: 350px;
  height: 97px;
  font-size: 36px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  justify-content: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text34 {
  display: inline-block;
  font-family: "Urbanist";
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
  font-family: "Urbanist";
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
  font-size: 24px;
}
 
.home-section4 {
  height: 302px;
  padding-top: 0px;
}
 
.home-max-width6 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-banner {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.home-text37 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text38 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-btns {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-button7 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.home-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container17 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text42 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text43 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text44 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.home-text45 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-text46 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-link {
  display: contents;
}
 
.home-container20 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon20 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text47 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-content1 {
    width: 50%;
    margin-right: var(--dl-layout-space-unit);
  }
  .home-image2 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-hero-image1 {
    margin-bottom: 0px;
  }
  .home-max-width3 {
    flex-direction: column;
  }
  .home-image4 {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-hero-image2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-max-width4 {
    flex-direction: column;
  }
  .home-content3 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-hero-image3 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-max-width5 {
    flex-direction: column;
  }
  .home-max-width6 {
    flex-direction: column;
  }
  .home-footer {
    flex-direction: column;
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .home-container17 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .home-desktop-menu {
    display: none;
  }
  .home-links1 {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-text19 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text20 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text21 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text22 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-text23 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-max-width2 {
    flex-direction: column-reverse;
  }
  .home-content1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-hero-image1 {
    margin-right: 0px;
  }
  .home-content2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-content3 {
    width: 100%;
    margin-right: 0px;
  }
  .home-cards-container {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-banner {
    padding: var(--dl-layout-space-twounits);
  }
  .home-footer {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-links-container {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container17 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .home-mobile-menu {
    padding: 16px;
  }
  .home-banner {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-footer {
    padding: var(--dl-layout-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container17 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
}
