.navbar-wrapper {
  display: contents;
}
 
.navbar-thq-navbar-elm {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-thq-logo-elm1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-thq-links-elm1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-thq-text-elm1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link1 {
  text-decoration: none;
}
 
.navbar-thq-burger-menu-elm {
  display: none;
}
 
.navbar-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-thq-logo-elm2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-links-elm2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-text-elm2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-navlink3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-thq-buttons-elm {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-link2 {
  text-decoration: none;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-thq-desktop-menu-elm {
    display: none;
  }
  .navbar-thq-links-elm1 {
    display: none;
  }
  .navbar-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-thq-text-elm2 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-thq-mobile-menu-elm {
    padding: 16px;
  }
  .navbar-thq-logo-elm2 {
    width: 136px;
    height: 40px;
  }
  .navbar-image2 {
    width: 100%;
    height: 100%;
  }
  .home-text15 {
    font-family: Titillium Web;
  }
}

.testimonials-wrapper {
  display: contents;
}
 
.testimonials-thq-gallery3-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.testimonials-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonials-thq-section-title-elm {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonials-thq-text-elm1 {
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
}
 
.testimonials-thq-text-elm2 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 600;
}
 
.testimonials-container1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonials-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.testimonials-thq-slider-elm {
  width: 100%;
  height: 600px;
  display: inline-block;
}
 
.testimonials-thq-slider-wrapper-elm {
  width: 100%;
}
 
.testimonials-thq-slider-slide-elm1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.testimonials-container2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image1-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image2-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-thq-slider-slide-elm2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.testimonials-container4 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image3-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-container5 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image4-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-thq-slider-pagination-elm {
  display: block;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.testimonialsroot-class-name {
  background-color: var(--dl-color-scheme-orange80);
}
 
@media(max-width: 991px) {
  .testimonials-thq-content-elm {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .testimonials-thq-section-title-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonials-thq-slider-slide-elm1 {
    flex-direction: column;
  }
  .testimonials-container2 {
    height: calc(50% - 8px);
  }
  .testimonials-container3 {
    height: calc(50% - 8px);
  }
  .testimonials-thq-slider-slide-elm2 {
    flex-direction: column;
  }
  .testimonials-container4 {
    height: calc(50% - 8px);
  }
  .testimonials-container5 {
    height: calc(50% - 8px);
  }
}
 
@media(max-width: 479px) {
  .testimonials-thq-slider-elm {
    height: 440px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.footer-thq-section-elm {
  height: 302px;
  padding-top: 0px;
}
 
.footer-thq-max-width-elm {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-thq-banner-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.footer-text10 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-thq-btns-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.footer-link1 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
 
.footer-thq-footer-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.footer-thq-links-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-thq-container-elm1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-navlink {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.footer-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text40 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.footerroot-class-name {
  background-color: var(--dl-color-scheme-yellow20);
}
 
@media(max-width: 991px) {
  .footer-thq-max-width-elm {
    flex-direction: column;
  }
  .footer-thq-footer-elm {
    flex-direction: column;
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .footer-thq-container-elm1 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer-thq-banner-elm {
    padding: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer-thq-banner-elm {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding: var(--dl-layout-space-unit);
  }
  .footer-thq-links-container-elm {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-thq-container-elm2 {
    width: auto;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-fragment10 {
  display: contents;
}
 
.home-text10 {
  display: inline-block;
}
 
.home-fragment11 {
  display: contents;
}
 
.home-text11 {
  display: inline-block;
}
 
.home-fragment12 {
  display: contents;
}
 
.home-text12 {
  display: inline-block;
}
 
.home-fragment13 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment14 {
  display: contents;
}
 
.home-text14 {
  display: inline-block;
}
 
.home-fragment15 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-thq-hero-elm {
  padding-bottom: 0px;
}
 
.home-thq-max-width-elm1 {
  align-items: center;
}
 
.home-thq-content-elm1 {
  flex: 0 0 auto;
  width: 45%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  margin-bottom: var(--dl-layout-space-threeunits);
  flex-direction: column;
}
 
.home-thq-title-elm {
  color: var(--dl-color-scheme-white);
  font-size: 52px;
  font-style: normal;
  font-family: Urbanist;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text17 {
  color: var(--dl-color-scheme-lightgreen);
}
 
.home-thq-description-elm {
  color: var(--dl-color-scheme-white);
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-thq-button-elm {
  text-decoration: none;
}
 
.home-thq-image-elm {
  position: relative;
  padding-bottom: var(--dl-layout-space-eightunits);
}
 
.home-thq-hero-image-elm1 {
  flex: 1;
  max-width: 550px;
  object-fit: cover;
  border-radius: 48px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
 
.home-thq-graphic-top-elm {
  top: 0px;
  right: -170px;
  width: 100%;
  height: 100%;
  position: absolute;
  max-width: 359px;
  max-height: 359px;
  object-fit: contain;
  object-position: center;
}
 
.home-image1 {
  right: -170px;
  bottom: 0px;
  position: absolute;
  object-fit: contain;
}
 
.home-thq-section-elm1 {
  height: 671px;
  padding-top: var(--dl-layout-space-halfunit);
  padding-bottom: var(--dl-layout-space-halfunit);
  background-color: var(--dl-color-theme-secondary1);
}
 
.home-thq-max-width-elm2 {
  height: 100%;
  align-items: stretch;
}
 
.home-thq-hero-image-elm2 {
  width: 717px;
  height: auto;
  object-fit: contain;
  margin-left: -250px;
  border-radius: 48px;
}
 
.home-thq-content-elm2 {
  width: var(--dl-layout-size-maxwidth);
  height: auto;
  display: flex;
  margin-left: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: center;
}
 
.home-text19 {
  font-size: 42px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text21 {
  color: var(--dl-color-scheme-green100);
}
 
.home-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.home-navlink {
  font-family: "Titillium Web";
  text-decoration: none;
}
 
.home-thq-section-elm2 {
  align-items: center;
  padding-top: var(--dl-layout-space-fourunits);
  padding-bottom: var(--dl-layout-space-fourunits);
  justify-content: center;
  background-color: var(--dl-color-scheme-green100);
}
 
.home-thq-max-width-elm3 {
  max-width: auto;
  align-items: stretch;
  padding-right: var(--dl-layout-space-oneandhalfunits);
}
 
.home-thq-content-elm3 {
  width: auto;
  height: auto;
}
 
.home-thq-text-elm {
  font-size: 32px;
}
 
.home-thq-title1-elm {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
}
 
.home-thq-title2-elm {
  font-size: 32px;
}
 
.home-thq-title3-elm {
  font-size: 32px;
}
 
.home-container5 {
  display: none;
}
 
.home-container6 {
  display: contents;
}
 
.home-container7 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
 
.home-text22 {
  color: var(--dl-color-scheme-lightgreen);
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-layout-space-oneandhalfunits);
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 0px;
}
 
.home-image2 {
  width: 416px;
  height: 425px;
  margin-top: 0px;
  object-fit: cover;
  margin-left: var(--dl-layout-space-oneandhalfunits);
  border-color: var(--dl-color-scheme-green100);
  border-width: 3px;
  margin-right: 0px;
}
 
.home-fragment16 {
  display: contents;
}
 
.home-text23 {
  display: inline-block;
}
 
.home-fragment17 {
  display: contents;
}
 
.home-text24 {
  display: inline-block;
}
 
.home-thq-section-elm3 {
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-thq-max-width-elm4 {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-text25 {
  color: var(--dl-color-scheme-green80);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text26 {
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-threeunits);
}
 
.home-text28 {
  color: var(--dl-color-theme-secondary1);
  background-color: var(--dl-color-scheme-green100);
}
 
.home-thq-cards-container-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-thq-card-elm1 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%201%201-min-500w.png");
}
 
.home-thq-info-elm1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text29 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text30 {
  line-height: 1.5;
}
 
.home-thq-card-elm2 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%202-500w.jpg");
}
 
.home-thq-info-elm2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text31 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text32 {
  line-height: 1.5;
}
 
.home-thq-card-elm3 {
  flex: 0 0 auto;
  width: 32%;
  display: flex;
  padding: 20px;
  max-width: 450px;
  min-height: 480px;
  align-items: center;
  border-radius: 36px;
  padding-right: 11px;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-end;
  background-image: url("public/New Folder/section%203%201-min-500w.png");
}
 
.home-thq-info-elm3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-twounits);
  border-radius: 20px;
  padding-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-scheme-white);
}
 
.home-text33 {
  font-size: 20px;
  font-style: normal;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-text34 {
  line-height: 1.5;
}
 
.home-container8 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
 
.home-separator {
  width: 100%;
  height: 1px;
  background-color: #595959;
}
 
.home-link1 {
  width: 350px;
  height: 97px;
  display: none;
  font-size: 36px;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  justify-content: center;
  text-decoration: none;
}
 
.home-fragment18 {
  display: contents;
}
 
.home-text35 {
  display: inline-block;
}
 
.home-fragment19 {
  display: contents;
}
 
.home-text36 {
  display: inline-block;
}
 
.home-fragment20 {
  display: contents;
}
 
.home-text37 {
  display: inline-block;
}
 
.home-fragment21 {
  display: contents;
}
 
.home-text38 {
  display: inline-block;
}
 
.home-fragment22 {
  display: contents;
}
 
.home-text39 {
  display: inline-block;
}
 
.home-fragment23 {
  display: contents;
}
 
.home-text40 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.home-link2 {
  display: contents;
}
 
.home-container9 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text44 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 991px) {
  .home-thq-content-elm1 {
    width: 50%;
    margin-right: var(--dl-layout-space-unit);
  }
  .home-thq-image-elm {
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-thq-hero-image-elm1 {
    margin-bottom: 0px;
  }
  .home-thq-max-width-elm2 {
    flex-direction: column;
  }
  .home-thq-hero-image-elm2 {
    width: 100%;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .home-thq-content-elm2 {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-thq-max-width-elm3 {
    flex-direction: column;
  }
  .home-thq-max-width-elm4 {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .home-thq-max-width-elm1 {
    flex-direction: column-reverse;
  }
  .home-thq-content-elm1 {
    width: 100%;
    margin-right: 0px;
  }
  .home-thq-hero-image-elm1 {
    margin-right: 0px;
  }
  .home-thq-content-elm2 {
    width: 100%;
    margin-right: 0px;
  }
  .home-thq-cards-container-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-thq-card-elm1 {
    width: 100%;
  }
  .home-thq-card-elm2 {
    width: 100%;
  }
  .home-thq-card-elm3 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .home-text15 {
    font-family: Titillium Web;
  }
  .home-thq-section-elm1 {
    height: 791px;
    padding-top: 51px;
    padding-bottom: var(--dl-layout-space-sixunits);
  }
  .home-image2 {
    width: auto;
    height: auto;
  }
}
