.footer-container1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.footer-thq-section-elm {
  height: 302px;
  padding-top: 0px;
}
 
.footer-thq-max-width-elm {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.footer-thq-banner-elm {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-fourunits);
  align-items: center;
  border-radius: 48px;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/group%2011-1200w.png");
}
 
.footer-text10 {
  color: var(--dl-color-scheme-lightgreen);
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text11 {
  color: var(--dl-color-scheme-white);
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-thq-btns-elm {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
 
.footer-link1 {
  padding-top: 12px;
  margin-right: 0px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
  text-decoration: none;
}
 
.footer-thq-footer-elm {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
}
 
.footer-thq-links-container-elm {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-thq-container-elm1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.footer-navlink {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-text13 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-oneandhalfunits);
}
 
.footer-link2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.footer-fragment1 {
  display: contents;
}
 
.footer-text14 {
  display: inline-block;
}
 
.footer-fragment2 {
  display: contents;
}
 
.footer-text15 {
  display: inline-block;
}
 
.footer-fragment3 {
  display: contents;
}
 
.footer-text16 {
  display: inline-block;
}
 
.footer-fragment4 {
  display: contents;
}
 
.footer-text17 {
  color: var(--dl-color-scheme-white);
  display: inline-block;
  font-size: 42px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-fragment5 {
  display: contents;
}
 
.footer-text21 {
  display: inline-block;
}
 
.footer-fragment6 {
  display: contents;
}
 
.footer-text22 {
  display: inline-block;
}
 
.footerroot-class-name {
  background-color: var(--dl-color-scheme-yellow20);
}
 
@media(max-width: 991px) {
  .footer-thq-max-width-elm {
    flex-direction: column;
  }
  .footer-thq-footer-elm {
    flex-direction: column;
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    flex-direction: row;
  }
  .footer-thq-container-elm1 {
    flex-wrap: wrap;
    margin-right: 0px;
  }
}
 
@media(max-width: 767px) {
  .footer-thq-banner-elm {
    padding: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .footer-thq-links-container-elm {
    width: auto;
    margin-top: var(--dl-layout-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    width: 100%;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .footer-thq-banner-elm {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .footer-thq-footer-elm {
    padding: var(--dl-layout-space-unit);
  }
  .footer-thq-links-container-elm {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-thq-container-elm1 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .footer-thq-container-elm2 {
    width: auto;
  }
}
