.gallery1-gallery3 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-max-width {
  gap: var(--dl-layout-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery1-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery1-text1 {
  text-align: center;
}
 
.gallery1-text2 {
  text-align: center;
}
 
.gallery1-button {
  width: 306px;
  height: 83px;
  font-family: "Urbanist";
  background-color: var(--dl-color-theme-primary2);
}
 
.gallery1-fragment1 {
  display: contents;
}
 
.gallery1-text4 {
  display: inline-block;
}
 
.gallery1-fragment2 {
  display: contents;
}
 
.gallery1-text5 {
  display: inline-block;
}
 
.gallery1-fragment3 {
  display: contents;
}
 
.gallery1-text6 {
  display: inline-block;
  font-size: 24px;
}
 
.gallery1root-class-name {
  background-color: var(--dl-color-scheme-orange80);
}
