.navbar-navbar {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-links1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-text10 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link {
  text-decoration: none;
}
 
.navbar-burger-menu {
  display: none;
}
 
.navbar-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-logo2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-text13 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text14 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text15 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text16 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-text17 {
  margin-bottom: var(--dl-layout-space-unit);
}
 
.navbar-buttons {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.navbar-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
}
 
.navbar-icon18 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-fragment10 {
  display: contents;
}
 
.navbar-text20 {
  display: inline-block;
}
 
.navbar-fragment11 {
  display: contents;
}
 
.navbar-text21 {
  display: inline-block;
}
 
.navbar-fragment12 {
  display: contents;
}
 
.navbar-text22 {
  display: inline-block;
}
 
.navbar-fragment13 {
  display: contents;
}
 
.navbar-text23 {
  display: inline-block;
}
 
.navbar-fragment14 {
  display: contents;
}
 
.navbar-text24 {
  display: inline-block;
}
 
.navbar-fragment15 {
  display: contents;
}
 
.navbar-text25 {
  display: inline-block;
}
 
.navbar-fragment16 {
  display: contents;
}
 
.navbar-text26 {
  display: inline-block;
}
 
.navbar-fragment17 {
  display: contents;
}
 
.navbar-text27 {
  display: inline-block;
}
 
.navbar-fragment18 {
  display: contents;
}
 
.navbar-text28 {
  display: inline-block;
}
 
.navbar-fragment19 {
  display: contents;
}
 
.navbar-text29 {
  display: inline-block;
}
 
.navbar-text30 {
  color: var(--dl-color-scheme-orange100);
}
 
.navbar-fragment20 {
  display: contents;
}
 
.navbar-text32 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-links1 {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-text13 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text14 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text15 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text16 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-text17 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-mobile-menu {
    padding: 16px;
  }
}
