.navbar-thq-navbar-elm {
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.navbar-thq-navbar-interactive-elm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.navbar-thq-logo-elm1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-navlink1 {
  display: contents;
}
 
.navbar-image1 {
  width: 200px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar-thq-desktop-menu-elm {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
 
.navbar-thq-links-elm1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar-thq-text-elm1 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-navlink2 {
  color: var(--dl-color-scheme-green80);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.navbar-link1 {
  text-decoration: none;
}
 
.navbar-thq-burger-menu-elm {
  display: none;
}
 
.navbar-icon1 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-mobile-menu-elm {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.navbar-thq-nav-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-top-elm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar-thq-logo-elm2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-image2 {
  width: 22px;
  object-fit: cover;
  margin-right: 14px;
}
 
.navbar-thq-close-menu-elm {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar-icon3 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar-thq-links-elm2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar-thq-text-elm2 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-navlink3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.navbar-thq-buttons-elm {
  display: flex;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar-link2 {
  text-decoration: none;
}
 
.navbar-fragment1 {
  display: contents;
}
 
.navbar-text3 {
  display: inline-block;
}
 
.navbar-fragment2 {
  display: contents;
}
 
.navbar-text4 {
  display: inline-block;
}
 
.navbar-fragment3 {
  display: contents;
}
 
.navbar-text5 {
  display: inline-block;
}
 
.navbar-fragment4 {
  display: contents;
}
 
.navbar-text6 {
  display: inline-block;
}
 
.navbar-fragment5 {
  display: contents;
}
 
.navbar-text7 {
  display: inline-block;
}
 
.navbar-fragment6 {
  display: contents;
}
 
.navbar-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar-thq-desktop-menu-elm {
    display: none;
  }
  .navbar-thq-links-elm1 {
    display: none;
  }
  .navbar-thq-burger-menu-elm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar-thq-text-elm2 {
    margin-bottom: var(--dl-layout-space-unit);
  }
  .navbar-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .navbar-thq-mobile-menu-elm {
    padding: 16px;
  }
  .navbar-thq-logo-elm2 {
    width: 136px;
    height: 40px;
  }
  .navbar-image2 {
    width: 100%;
    height: 100%;
  }
  .navbar-text3 {
    font-family: Titillium Web;
  }
}
