.testimonials-thq-gallery3-elm {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
}
 
.testimonials-thq-max-width-elm {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.testimonials-thq-section-title-elm {
  gap: 24px;
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.testimonials-thq-text-elm1 {
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 700;
}
 
.testimonials-thq-text-elm2 {
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-family: "Urbanist";
  font-weight: 600;
}
 
.testimonials-container1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.testimonials-thq-content-elm {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.testimonials-thq-slider-elm {
  width: 100%;
  height: 600px;
  display: inline-block;
}
 
.testimonials-thq-slider-wrapper-elm {
  width: 100%;
}
 
.testimonials-thq-slider-slide-elm1 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.testimonials-container2 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image1-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-container3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image2-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-thq-slider-slide-elm2 {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  height: calc(100% - 20px);
  display: flex;
}
 
.testimonials-container4 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image3-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-container5 {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.testimonials-thq-image4-elm {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 
.testimonials-thq-slider-pagination-elm {
  display: block;
}
 
.testimonials-fragment1 {
  display: contents;
}
 
.testimonials-text1 {
  display: inline-block;
}
 
.testimonials-fragment2 {
  display: contents;
}
 
.testimonials-text2 {
  display: inline-block;
}
 
.testimonialsroot-class-name {
  background-color: var(--dl-color-scheme-orange80);
}
 
@media(max-width: 991px) {
  .testimonials-thq-content-elm {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .testimonials-thq-section-title-elm {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .testimonials-thq-slider-slide-elm1 {
    flex-direction: column;
  }
  .testimonials-container2 {
    height: calc(50% - 8px);
  }
  .testimonials-container3 {
    height: calc(50% - 8px);
  }
  .testimonials-thq-slider-slide-elm2 {
    flex-direction: column;
  }
  .testimonials-container4 {
    height: calc(50% - 8px);
  }
  .testimonials-container5 {
    height: calc(50% - 8px);
  }
}
 
@media(max-width: 479px) {
  .testimonials-thq-slider-elm {
    height: 440px;
  }
}
